.bg-main {
  background-color: #FFFDF8;
  height: 100%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.outer-container {
  background-color: #e7dfd3;
  width: 1200px;
  height: 600px;
  border-radius: 25px;  
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px; /* Adjust as needed */
  overflow: auto; 
  padding-bottom: 18px;
}